body {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

header {
	min-height: 20%;
	background-color: darkslategray;
}

.white {
	color: white;
}

.titleText {
	font-family: serif;
}

.navBtn {
	min-width: 20%;
}

.padTop {
	padding-top: 1em;
}