body {
	width: 1280px;
	margin: auto;
	background: black;
}

header {
	width: 1280px;
	margin: auto;
	height: 200px;
	background-image: url("../img/River_001.jpg");
	background-position: left bottom;
}

.companyName {
	color: white;
	margin-left: 10px;
	margin-top: 10px;
	font-family: serif;
	font-size: 4em;
}